<div class="row justify-content-center">
  <div class="col-8 text-center">
    <h4>Answer the Appointment #<%= @appointment.id %></h4>
      <% if @appointment.errors.any? %>
        <div class="alert alert-danger" role="alert" align=left >
          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
              <small><li><%= message %></li></small>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div align=left>
        <%= form_for @appointment do |form| %>
        <b>Patient: </b><%= @appointment.patient.email %><br><br>
        <div class="row justify-content-evenly">
          <div class="col-6">
            <b>Question: </b><br>
            <div class="alert alert-secondary" role="alert">
              <%= @appointment.question %>
            </div>
          </div>
          <div class="col-6">
            <b>Answer: </b><br>
            
              <%= form.text_area :answer, autofocus: true, class: "form-control form-control-sm", style: "min-height: 13em"%>
              
          </div>
        </div>
        <%= form.submit "Send Answer", class: "btn btn-primary btn-sm" %>
        <%= link_to 'Back', :back, class: 'btn btn-outline-secondary btn-sm' %>
        <% end %>
      </div>  
    </div>
  </div>
</div>