<div class="row justify-content-center">
  <div class="col-8 text-center">
    <h4>Appointment #<%= @appointment.id %><%= ' (CLOSED)' if !@appointment.answer.nil? %></h4>
    <div align=left>
      <% if current_user.type == 'Patient' %>
        <b>Doctor: </b><%= @appointment.doctor.email %><br>
        <b>Specialization: </b><%= @appointment.doctor.category.name %><br><br>
      <% end %>
      <% if current_user.type == 'Doctor' %>
        <b>Patient: </b><%= @appointment.patient.email %><br><br>
      <% end %>

      <div class="row justify-content-evenly">
        <div class="col-6">
          <b>Question: </b><br>
          <div class="alert alert-secondary" role="alert">
            <%= @appointment.question %>
          </div>
        </div>
      <div class="col-6">
          <b>Answer: </b><br>
          <div class="alert alert-primary" role="alert">
            <%= @appointment.answer.nil? ? 'THERE IS NO ANSWER FROM DOCTOR YET' : @appointment.answer %>
          </div>
        </div>
      </div>
      <% if current_user.type == 'Doctor' && @appointment.answer.nil? %>
        <%= link_to 'Send Answer', edit_appointment_path(@appointment), class: 'btn btn-primary btn-sm' %>
      <% end %>
      <%= link_to 'Back', :back, class: 'btn btn-outline-secondary btn-sm' %>
    </div>
  </div>
</div>