<% if @category.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5><%= pluralize(@category.errors.count, "error") %> prohibited this post from being saved:</h5>
    <hr>
    <ul>
      <% @category.errors.full_messages.each do |error| %>
        <li><small><%= error %></li></small>
      <% end %>  
    </ul>
  </div>
<% end %>  

<%= form_for @category do |form| %>
  <div class="mb-3" >
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>
  
  <div>
    <%= form.submit action: @category.new_record? ? 'Create' : 'Save', class: "btn btn-primary btn-sm" %>
    <%= link_to 'Back', :back, class: 'btn btn-outline-secondary btn-sm' %>
    <% if !@category.new_record? %>
      <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' },  class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
<% end %>